html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-size: 20px;
    vertical-align: baseline;
    outline: none;
}

html {
    height: 101%;
}

/* always display scrollbars */
body {
    font-size: 62.5%;
    line-height: 1;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-indent: 20px;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
}

div.header {
    background-color: #4287f5;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    box-sizing: border-box;
    color: white;
}

div.content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 15px;
    background-color: #cfe1ff;
    border-radius: 8px;
}

div.choise {
    text-align: center;
}

.images {
    text-align: center;
}

.images img {
    width: 100px;
    height: 100px;
}